<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.facilityregistry</package>
	<author>pmanko@uw.edu</author>
	<description>
			${project.parent.description}
	</description>

	<activator>org.openmrs.module.facilityregistry.FacilityRegistryClientActivator</activator>
	
	<!-- <updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->
	
	<require_version>${openmrsPlatformVersion}</require_version>
	
	<!-- Extensions -->
	<extension>
	</extension>
	
	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>
	
	<require_modules>
		<require_module>org.openmrs.event</require_module>
		<require_module>org.openmrs.module.fhir2</require_module>
	</require_modules>

	
	
	<!-- AOP
	<advice>
		<point>org.openmrs.api.FormService</point>
		<class>@MODULE_PACKAGE@.advice.DuplicateFormAdvisor</class>
	</advice>
	 /AOP -->
	
	
	<!-- Required Privileges 
	<privilege>
		<name>Form Entry</name>
		<description>Allows user to access Form Entry pages/functions</description>
	</privilege>
	 /Required Privileges -->


	<!--Required Global Properties -->
	<globalProperty>
		<property>@MODULE_ID@.serverUrl</property>
		<defaultValue>http://localhost:4000/fhir/DEFAULT</defaultValue>
		<description>
			Base Url for the Facility Registry Server 
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.authUrl</property>
		<defaultValue>http://localhost:4000/auth/token</defaultValue>
		<description>
			Auth url for the Facility Registry Server  ,for generating the Authorization Bearer Token
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.userName</property>
		<defaultValue>root@gofr.org</defaultValue>
		<description>
			Login username for the Facility Registry Server 
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.password</property>
		<defaultValue>gofr</defaultValue>
		<description>
			Login password for the Facility Registry Server 
		</description>
	</globalProperty>
	<!--Required Global Properties -->

	
	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> 
	<servlet>
		<servlet-name>formDownload</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.FormDownloadServlet</servlet-class>
	</servlet>
	-->
	<!-- /Servlets -->
	
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
</module>
